# https://help.github.com/articles/about-codeowners/

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.

* @JSChronicles
